 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/40926.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 157px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 57px;
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-2 .u-image-1 {
  min-height: 400px;
  background-image: url("images/javick123reduced.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-image-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2 .u-image-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-2 .u-image-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-2 .u-image-1 {
    min-height: 239px;
  }
} .u-section-3 {
  min-height: 515px;
}

.u-section-3 .u-shape-1 {
  height: 97px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  width: 156px;
  margin: 35px calc(((100% - 1140px) / 2) + 492px) 0;
}

.u-section-3 .u-text-2 {
  margin: 14px 43px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    height: 39px;
    margin-left: calc(((100% - 940px) / 2) + 392px);
    margin-right: calc(((100% - 940px) / 2) + 392px);
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + -49px);
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 282px);
    margin-right: calc(((100% - 720px) / 2) + 282px);
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + -49px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 192px);
    margin-right: calc(((100% - 540px) / 2) + 192px);
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + -49px);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 92px);
    margin-right: calc(((100% - 340px) / 2) + 92px);
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2) + -49px);
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 740px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-4 .u-image-1 {
  min-height: 608px;
  background-image: url("images/20190614032.JPG");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-image-2 {
  min-height: 304px;
  background-image: url("images/19554a6415a346c4ad4c130de15100d4.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 304px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px 30px 44px;
}

.u-section-4 .u-text-1 {
  margin: 37px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 600px;
  }

  .u-section-4 .u-image-2 {
    min-height: 300px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: auto;
  }
}